.row{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.back {
    display: flex;
    column-gap: 15px;
}

.arrow {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin-bottom: 40px;
}
.cardImg{
    width: 100%;
}
.card{
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    width: calc(25% - 30px);
    padding: 20px 30px 34px;
    transition: .5s;
}

.card:hover {
    border: 1px solid #8BB43C;
    transition: .5s;
    transform: translateY(-15px);
    box-shadow: 0 14px 30px rgba(139, 180, 60, 0.5);
}

.cardLike {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTitle{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
}
.cardPriceTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
}
.cardPriceNum{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.cardBtn{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    color:#D3D3D3;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.emptyRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 50vh;
}

.emptySmiley {
    font-size: 50px;
}

.emptyTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.emptySubtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
}

.emptyBtn {
    background: #9DD458;
    border-radius: 18px;
    padding: 19px 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}